
html {
  height: 100%;
  background-color: #f8f8f8;
}

wrapper {
  height:100%;
}

/*index*/
header {
  height:10%;
  background-color:#99FF66;
}
.main-content {
  position: relative;
  height: 130px;;
  width:50%;
  margin: 1px auto 0 10%;
  background-color: #CCFFFF;
  border-radius: 10px;
}
.sub-content {
  height: 90%;
  display:flex;
}

.check-box {
  width:15%;
  height: 100%;
}
.main-box {
  display:flex;
  width:75%;
  height: 100%;;
}
.text-content {
  width: 70%;
  word-break: break-all;
}
.img-content {
  width:30%;
  height: 100%;
}
.image {
  height:100%;
  width:100%;
}
.time {
  position: absolute;
  height: 10%;
  font-size:50%;
  right:23;
}

/*ajax*/
#menu {
  width:10%;
  height: 100%;
}

li {
  list-style:none;
}

#menu div {
  position: relative;
  width: 100%;
}

ul {
  display: none;
  position: absolute;
  padding-left: 0px; /*ul left space*/
  width:100%;
  text-align:center;
}
span {
  cursor: pointer;
  display:block;
  margin:10px 10px 10px 10px;/*上 右 下 左*/
  }

/**new or edit*/
.textarea{
    width:150px;
    height:50px;
  }

