wrapper {
  height:100%;
}

header {
  height:10%;
  background-color:#99FF66;
}
.content {
  height: 50%;;
}

.img-content {
  height: 50%;
}
.image {
  /* color:red; */
  height:100%;
  width:15%;
}