wrapper {
  height:100%;
}

header {
  height:10%;
  background-color:#99FF66;
}
.main-content {
  height: 30%;
  width:50%;
  margin: 1px auto 0 10%;
  background-color: #CCFFFF;
  border-radius: 10px;
}
.sub-content {
  height: 90%;
  display:flex;
}

.check-box {
  width:15%;
  height: 100%;
}
.main-box {
  display:flex;
  width:75%;
  height: 100%;;
}
#menu {
  width:10%;
  height: 100%;
}

.text-content {
  width: 70%;
}
.img-content {
  width:30%;
  height: 100%;
}
.image {
  height:100%;
  width:100%;
}




    @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
  height: 100%;
  background-color: #f8f8f8;
}

li {
  list-style:none;
}

/*  */

.arrow {
  position: relative;
}
.arrow::before {
content: "";
display: block;
position: absolute;
top: -3px;
right: 3%;
width: 14px;
height: 14px;
border-top: 2px solid #000;
border-right: 2px solid #000;
transform: translateX(-50%) rotate(135deg);
}

#menu div {
  position: relative;
  width: 100%;
}

ul {
  display: none;
  position: absolute;
  padding-left: 0px; /*ul left space*/
  width:100%;
  text-align:center;
}
span {
  cursor: pointer;
  display:block;
  margin:10px 10px 10px 10px;/*上 右 下 左*/
  }